* {
    padding: 0%;
    margin: 0%;
}

.sta-all {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    text-align: left;
}

.card-y {
    background-color: rgb(240, 215, 73);
    color: rgb(66, 66, 66);
    padding: 5px;
    border-radius: 6px;
}

.card-r {
    background-color: rgb(240, 73, 73);
    color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 6px;
}

.playerWord {
    font-weight: 400;
    font-size: 12px;
    color: rgb(70, 70, 70)
}

.playerPage {
    text-align: right
}